@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --main: #FFF;
    --secondary: #366ED8;
    --accent: #F3A953;
    --accentDark: #064ACB;
    --reverseMain: #000000;

    --fontWhite: var(--main);
    --fontBlack: var(--reverseMain);

    --headerBackground: var(--secondary);
    --heroBackground: var(--secondary);

    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--fontWhite);
    background-color: var(--heroBackground);
    border: 2px solid var(--main);
    outline: none;
}

select {
    cursor: pointer;
}

.header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--headerBackground);
    color: var(--fontWhite);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 5vw;
    filter: drop-shadow(0px -50px 50px #000);
}

#headerNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#headerHeadline {
    text-decoration: none;
    color: var(--fontWhite);
    font-family: "Noto Serif";
    font-style: italic;
    font-size: 22px;
}

.navItem {
    margin: 0 3rem;
    text-decoration: none;
    color: var(--fontWhite);
}

.navItem:hover {
    color: var(--accent);
    cursor: pointer;
}

.navItem:last-child {
    margin-right: 0px;
}


#hero {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--heroBackground);
}

#hero > div {
    margin: 0;
    padding: 0;
    width: 40%;
    color: var(--fontWhite);
}

h1 {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
}

#heroImage {
    width: 40%;
}


#rates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 80vw;
    padding-top: 150px;
}

#rates > h1 {
    text-align: center;
}

.ratesText {
    width: 40%;
}

.ratesChart {
    width: 60%;
}


#calc {
    padding-top: 40px;
}

#calculatorHistory {
    border: 1px solid var(--secondary);
    border-radius: 25px;
    box-sizing: content-box;
    padding: 2rem 4rem 4rem 4rem;
    margin-top: 125px;
    background-color: var(--secondary);
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calcHistoryTop {
    width: 100%;
    display: flex;
    justify-content: center;
}

#calcHistoryTop > h2 {
    margin: 0;
    padding-bottom: 2rem;
    color: var(--fontWhite);
}

#calcHistoryBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

.calcHistory {
    width: 65%;
}

.calculatorInput, .calculatorOutput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#inputNumber {
    padding: 0;
    border-bottom: 2px solid var(--main);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 2rem;
    min-width: 75px;
    width: 40%;

    box-sizing: border-box;
    padding-left: 3px;
}

.calculatorOutput > p {
    min-width: 75px;
    width: 40%;
    height: 2rem;
    cursor: default;
    padding-left: 3px;
}

#inputCurrency, #outputCurrency {
    width: fit-content;
    height: 2rem;
    border-radius: 5px;
}

.calculatorOutput > p {
    margin: 0;
    color: var(--fontWhite);
}


#history {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

#history > h2 {
    margin: 0 0 1rem 0;
}

.historyInputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inputHistoryCurrency {
    width: fit-content;
    height: 2rem;
    border: 0px;
    background-color: var(--fontWhite);
    color: var(--fontBlack);
}

.historyInputDiv > p {
    margin: 0 0 0 0.5rem;
}

.historyGraph {
    width: 100%;
}